body {
  display: flex;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  font-family: 'Helvetica';
  font-weight: lighter;
}

.game-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

h1 {
  font-size: 32px;
  font-weight: lighter;
}

h2 {
  font-size: 24px;
  font-weight: lighter;
  margin-top: 0px;
}

canvas {
  border-radius: 10px;
  border: 1px black solid;
}

.instruction-container {
  border-radius: 10px;
  border: 1px black solid;
  padding: 20px;
  width: 300px;
  text-align: center;
}

.instructions {
  font-size: 18px;
  text-align: left
}

.instructions span {
}
